:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-weight: bold;
}
p {
  font-family: var(--default-font-family);
}
h1 {
  font-size: 70px;
}
.btn {
  font-size: 18px;
  background: var(--branding-color);
  color: white;
  border-color: white;
  padding: 15px;
  border-radius: 4px;
  line-height: 27px;
  display: inline-flex;
  margin: 20px;
  text-align: center;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: "poppins", sans-serif;
}

div {
  display: block;
  margin: 0 auto;
}
h2 {
  font-size: 20px;
}

.img-fluid {
  max-width: 450px;
  display: block;
  margin: 0 auto;
}
